<!-- app.component.html -->
<div class="d-flex flex-column vh-100">
    <!-- Sidebar y Contenido Principal -->
    <div class="d-flex flex-grow-1">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white custom-sidebar">
            <a href="home" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
                <span class="fs-4">Admin S.I.B.</span>
            </a>
            <hr>
            <!-- Menú de navegación -->
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="list-agreements" class="nav-link active" aria-current="page">
                        Listar Convenios
                    </a>
                    <a href="register" class="nav-link active" aria-current="page">
                        Registrar Usuario
                    </a>
                </li>
            </ul>
            <hr>
            <!-- Usuario y cerrar sesion -->
            <div class="dropdown" [class.dropup]="dropdownOpen">
                <a class="d-flex align-items-center text-white text-decoration-none"
                    id="dropdownUser1" (click)="toggleDropdown()" [attr.aria-expanded]="dropdownOpen">
                    <i class="bi bi-person-circle me-2" style="font-size: 32px;"></i>
                    <strong class="usuario-texto">Usuario</strong>
                    <i [class.bi-chevron-down]="dropdownOpen" [class.bi-chevron-up]="!dropdownOpen" class="bi"></i>
                </a>
                <ul class="dropdown-menu shadow position-absolute" aria-labelledby="dropdownUser1"
                    [class.show]="dropdownOpen" style="bottom: 100%;">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a></li>
                </ul>
            </div>

        </div>
        <!-- Contenido Principal -->
        <div class="bg-light flex-grow-1">
            <div class="content-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>