<div class="col-md-12">
    <div class="card text-white">
        <img class="card-img-top logod mx-auto d-block" src="assets/images/directorio.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title text-center">Bienvenido al sistema de administracion de la S.I.B. - App</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
</div>