h1,
h2,
h3,
h4,
h5,
label {
    color: #014a2c;
    font-weight: bold;
}

label {
    font-size: 18px;
}

span {
    font-weight: bold;
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

.btn-colorsib {
    color: white;
    background-color: #014a2c;
    border: 2px solid #014a2c;
}

.btn-colorsib:hover {
    color: #014a2c;
    background-color: white;
    border-color: #014a2c;
    font-weight: bold;
}